.container {
   flex-direction: column;
}

.content {
    img {
        width: 100%;
    }

    h1, h2, h3, h4, h5, h6 {
        color: #FD9374;
    }

    h6 {
        font-size: 10pt;
        text-align: center;
    }
}