$break-small: 480px;
$break-large: 1200px;

.container {
    background-color: #1D2731;
    min-height: 100vh;
    flex-direction: column;
}

.hero {
    min-height: 600px;
    @media screen and (max-width: $break-small) {
        margin-top: 30%;
    }
    margin: auto;
    width: 60%;
    margin-top: 100px;
    // position: absolute;
    // transform: translateY(-50%);
    // -webkit-transform: translateY(-90%);
    // -ms-transform: translateY(-50%);
    
}

.content {
    width: 45%;
    margin: 0 auto;

    @media screen and (max-width: $break-small) {
        padding-left: 10%;
        padding-right: 10%;
        width: 100%
    }
    
    img {
        width: 100%;
    }

    h1, h2, h3, h4, h5, h6 {
        color: #FD9374;
    }

    h6 {
        font-size: 10pt;
        text-align: center;
    }

    a {
        color: #FD9374;
    }
}