.container {
    flex-grow: 1;
    background-color: #1D2731;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #F0F0F2;
}


.content {
    padding: 1%;
    padding-top: 5%;
    // padding-left: 15%;
    width: 35%;
    // width: 380px;
    margin: 0 auto;

    img {
        width: 100%;
    }

    // p {
    //     width: 100%;
    // }

    hr {
        height: 1px;
        border: none;
        color: #F0F0F2;
        background-color: #F0F0F2;
        
    }

    h1, h2, h3, h4, h5, h6 {
        color: #FD9374;
    }

    h1 { 
        font-size: 35pt;
    }

    h2 {
        font-size: 30pt;
    }

    h3 {
        font-size: 20pt;
    }

    h6 {
        font-size: 10pt;
        text-align: center;
    }
}