.container {
    display: flex;
    background-color: white;
    border-radius: 50px;
    height: 60px;
    width: 60px;

    .logo {
        display: flex;
        // height: 100%;
        // top: 20%;
        // margin-left: 40;
        justify-content: center;
        align-items: center;
    }
}