.container {
    display: flex;
    flex-direction: row;
}

h2 {
    font-size: 50pt;
}

a {
    color: #FD9374;
}

a:hover {
    filter: brightness(55%);
}

.me {
    color: #FD9374;
}

.bio {
    display: flex;
}

.profile {
    padding-left: 10%;
}

.info {
    max-width: 70%;
}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
}