$break-small: 480px;
$break-large: 1200px;

.container {
    flex: 1;
}

a {
    color: #FD9374;
}

a:hover {
    filter: brightness(55%);
}

.bio {
    display: flex;
}

.info {
    max-width: 90%;

    @media screen and (max-width: $break-small) {
        max-width: 100%
    }
}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
}