.profile {
    // display: inline-block;
    // position: fixed;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.profile img {
    width: auto;
    height: 100%;
    margin-left: 0px;
}