$break-small: 480px;

.heroContainer {
    height: 300px;
    width: 60%;
    // @media screen and (max-width: $break-small) {
    //     width: 100%;
    // }
    // padding: 0;
    // margin-left: 20%;
    // margin-top: 20%;
    flex-direction: column;
    position: absolute;
}

.content {
    display: inline-block;
    font-color: #F0F0F2;
    // position: absolute;
    // transform: translateY(-50%);
    // -webkit-transform: translateY(-90%);
    // -ms-transform: translateY(-50%);

    h1 {
        @media screen and (max-width: 400px) {
            font-size: 30pt;
        }
    }

    h3 {
        color: #FD9374;
        @media screen and (max-width: 400px) {
            font-size: 20pt;
        }
    }

    hr {
        background-color: #FD9374;
    }

    p {
        font-style: italic;
    }
}

