.container {
    h3 {
        font-size: 24pt;
        color: '#FD9374';
    }

    h4 {
        color: '#FD9374';
    }

    // i {
    //     // font-weight: lighter;
    //     color: '#FD9374';
    // }
}
