@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo&display=swap');

$top-border: #DADFE1; // #FF5F0F
$font-white: #F2EDE9;
// $font-h1:
$font-h2: $top-border;
$background-color: #4A7078;

//For handling screen sizes
$break-small: 480px;
$break-large: 1200px;

html {
    border-top: 5px solid $top-border;
    background-color: $background-color;

    // Font sizes
    h1 {
        font-size: 60pt;

        @media screen and (max-width: $break-small) {
            font-size: 35pt;
        }
    }

    h2 {
        font-size: 45pt;

        @media screen and (max-width: $break-small) {
            font-size: 30pt;
        }
    }

    h3 {
        font-size: 30pt;

        @media screen and (max-width: $break-small) {
            font-size: 20pt;
        }
    }


    
    h1, h2, h3, h4, h5, h6, p {
        font-family: 'Exo', sans-serif;
    }
    
    p {
        color: $font-white;
    }
    
    h1, h3 {
        color: $font-white;
    }
    
    h2, h4 {
        color: $font-h2;
    }

}
