.container {
    .circle {
        height: 50px;
        width: 50px;
        background-color: #F2EDE9;
        border-radius: 50%;
    }

    .icon {
        // justify-content: center;
        // align-items: center;
        height: 30px;
        width: 30px;
    }
}