.container {

<<<<<<< HEAD
    .button {

    }

    .icon {
        
=======

    .circle {
        height: 50px;
        width: 50px;
        background-color: #F2EDE9;
        border-radius: 50%;
    }

    .icon {
        display: block;
>>>>>>> 29ede97731f439a7e66a7d7694198b66ffa22636
    }

}