.header {
    padding: 1.5rem 2.5rem 1.5rem; 
    // .right-items {
    //     padding: 0.5rem;
    // }
    // background-color: red;
}

// .level {
//     width: 100%;
// }

.title {
    color: #F0F0F2;
    font-size: 2rem;
    text-decoration: none;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.nav-item {
    color: #F0F0F2;
    font-size: 1.0rem;
    // margin-right: 4.0rem;
    text-decoration: none;
}

.nav-item:hover {
    color: #81878C;
}

.active-nav-item {
    color: #81878C;
}

.logo {
    height: 40px;
    width: 50px;
}