@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
$button-color: red;

.container {
    height: 100vh;
    padding-bottom: 200px;

    p {
        color: #FD9374;
        // #FF6B00
        // #FD9374
    }

    a:hover {
        filter: brightness(55%);
    }

    h1 {
        font-family: 'Exo', sans-serif;
    }

    h4 {
        color: #81878C;
        width: 70%;
        font-weight: normal;
    }

    .links {
        color: #FD9374;
    }
}

.profile {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    filter: brightness(55%);
 }


