@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.container {
    height: 100vh;

    p {
        color: #FD9374;
        // #FF6B00
        // #FD9374
    }

    h1 {
        font-size: 60pt;
        font-family: 'Exo', sans-serif;
    }

    h4 {
        color: #81878C;
        width: 70%;
    }

    .links {
        color: #FD9374;
    }
}

.profile {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
 }

 .info {
     
 }

